<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

<link rel="stylesheet" type="text/css" 
    href="{{url_for('static', filename='style.css')}}">

<link rel = "shortcut icon"
       href={{url_for('static', filename="images/caja.jpg")}}>
</head>

</head>

<body>

<div class="header">
    <h1>   My makeup site - Delete - {{bodysection.name}} </h1>
</div>

<div class="delete_content">
    <h2>Are you sure you want to delete {{bodysection.name}}?</h2>

    <form action="{{url_for('deleteBodySection', body_section_id=bodysection.id)}}"
     method='POST'>
        Name: {{bodysection.name}} <br/>
        <br/>
        Description: {{bodysection.description}} <br/>
        <br/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type='submit' name='btn' value='Delete' class="button"> 
        <input type='submit' name='btn' value='Cancel' class="button">     
    </form>   
</div>
</body>

</html> 