<!--from flask import Flask, render_template, url_for-->

<html>
<head>


</head>

<body>

<h1>Body Sections</h1>

<h1>Edit the information of {{bodysection.name}}</h1>

<form method='POST'action="{{url_for('editBodySection', body_section_id=bodysection.id)}}"
 enctype="multipart/form-data" >
 
    <p>Name: <input type="text" name="name" value={{bodysection.name}}> </p>
    
    <p>Description: <input type="text" name="description" 
        value={{bodysection.description}} /> </p>
        
    <p>Photo: <input type="file" name="picture" /> <p/>
    <p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type='submit' name='btn' value='Save'> 
    <input type='submit' name='btn' value='Cancel'> 
    </p>
</form>   

</body>

</html> 