<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

<link rel="stylesheet" type="text/css" 
    href="{{url_for('static', filename='style.css')}}">

<link rel = "shortcut icon"
       href={{url_for('static', filename="images/caja.jpg")}}>

</head>

<body>

<div class="header">
    <h1>   My makeup site  Body Sections 

    {%if image %}
        <a style="color:white; font-size:0.5em; float:right; margin-right:15px; 
            background: #ff66b3;" href={{(url_for('gdisconnect'))}}> 
        Disconnect</a>
        
       <img src={{image}} style = "float: right; width: 30px; height: 30px;border-radius: 15px; 
       -webkit-border-radius: 15px;-moz-border-radius: 15px;"> 
   {%else%}
        <a style="color:white; font-size:0.5em; float:right; margin-right:15px; 
            background: #ff66b3;" href={{(url_for('showLogin'))}}>
        Connect</a> 
    
   {%endif%}
   
   </h1>
</div>


<div class ="content">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <a href={{(url_for('newBodySection'))}}>Add new Body Sections</a>
    <a href={{(url_for('viewProducts'))}}>Search products</a>

    {% for s in bodysections %}


    <p><a href={{(url_for('section', section_id=s.id))}}><strong>{{s.name}}</strong> </a>
    {{s.description}}</p>

    {% endfor %}
</div>


</body>

</html> 