<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

</head>

<body>


    <h1>Welcome, {{username}}!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
<img src='{{picture}}' style = "width: 150px; height: 150px;border-radius: 75px;
 -webkit-border-radius: 75px;-moz-border-radius: 75px;"> 



</body>

</html> 