<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" 
        href="{{url_for('static', filename='style.css')}}">

    <link rel = "shortcut icon"
           href={{url_for('static', filename="images/caja.jpg")}}>


    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- END Pre-requisites -->
</head>

<body>

<div class="header">
    <h1>   My makeup site - Login </h1>
</div>

<div class ="product_content">

        <div id="signInButton">
              <span class="g-signin"
                data-scope="openid email"
                data-clientid="1073664951138-d69avq2doi8v90k9b80gg8bhg8v778hs.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
        </div>
        <div id="result" ></div>
</div>

<script type="text/javascript" >
function signInCallback(authResult) {
    if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
        $('#signInButton').attr('style', 'display: none');
        
        /* Send the one-time-use code to the server, if the server responds, 
        write a login successful message to the web page and then redirect
        back to the index page */
        $.ajax({ 
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result) {
                
            // Handle or verify the server response if necessary.
                if (result) {
                    console.log("cosa rarita")
                    $('#result').html('Login Successful!</br>'+ result + 
                        '</br>Redirecting...')
                    setTimeout(function() {
                    window.location.href = "/section";
                    }, 4000); 
                } else if (authResult['error']) {
                    console.log('There was an error: ' + authResult['error']);
                } else {
                    $('#result').html('Failed to make a server-side call.' +
                    'Check your configuration and console.');
                }
            }
        }); 
    } 
}
</script>
</body>

</html> 