<!--from flask import Flask, render_template, url_for-->

<html>
<head>


</head>

<body>

<h1>New Body Sections</h1>

<h2>Enter information to register a new body section</h2>

<form method="POST"  action= {{url_for('newBodySection')}}> 

    Name: <input type="text" name="name" /> <br/>
    <br/>
    Description: <input type="text" name="description" /> <br/>
    <br/> 

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </br><input type='submit' value='Save'> 
</form>

</body>

</html> 