<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" 
    href="{{url_for('static', filename='style.css')}}">

    <link rel = "shortcut icon"
        href={{url_for('static', filename="images/caja.jpg")}}>


</head>

<body>

<div class="header">
    <h1>   My makeup site - Add a new section  
        <a style="color:white; font-size:0.5em; float:right; margin-right:15px; 
            background: #ff66b3;" href={{(url_for('gdisconnect'))}}> 
        Disconnect</a>
        
       <img src={{image}} style = "float: right; width: 30px; height: 30px;border-radius: 15px; 
       -webkit-border-radius: 15px;-moz-border-radius: 15px;"> 
    
   </h1>
</div>


<div class ="product_content">
    <p>Enter the following information to register a section<p>


<form method="POST"  action= {{url_for('newBodySection')}}> 

    Name: <input type="text" name="name" /> <br/>
    <br/>
    Description: <input type="text" name="description" /> <br/>
    <br/> 

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <a href={{url_for('index')}}> Cancel </a>
    <input type='submit' value='Save' class="button"> 
</form>

</div>
</body>

</html> 