<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" 
    href="{{url_for('static', filename='style.css')}}">

    <link rel = "shortcut icon"
        href={{url_for('static', filename="images/caja.jpg")}}>


</head>

<body>

<div class="header">
    <h1>   My makeup site - Add a new product </h1>
</div>


<div class ="product_content">
    <p>Enter the following information to register a section<p>


<form method="POST"  action= {{url_for('newBodySection')}}> 

    Name: <input type="text" name="name" /> <br/>
    <br/>
    Description: <input type="text" name="description" /> <br/>
    <br/> 

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <a href={{url_for('index')}}> Cancel </a>
    <input type='submit' value='Save' class="button"> 
</form>

</div>
</body>

</html> 