<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" 
        href="{{url_for('static', filename='style.css')}}">

    <link rel = "shortcut icon"
        href={{url_for('static', filename="images/caja.jpg")}}>

    <link rel="stylesheet" 
        href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
</head>


<body>

<div class="header">
    <h1>   My makeup site - Add a new product 
        <a style="color:white; font-size:0.5em; float:right; margin-right:15px; 
            background: #ff66b3;" href={{(url_for('gdisconnect'))}}> 
        Disconnect</a>
        
       <img src={{image}} style = "float: right; width: 30px; height: 30px;border-radius: 15px; 
       -webkit-border-radius: 15px;-moz-border-radius: 15px;"> 
   </h1>
</div>

<div class ="product_content">
    <p>Enter the following information to register a new product<p>

    <form method="POST"  enctype="multipart/form-data" 
    {% if ps_section %}
        action= {{url_for('newProduct', section_id = ps_section.id)}} > 
    {% else %}
        action= {{url_for('newProduct')}} > 
    {% endif %}
        <p>Name: <input type="text" name="name" /> </p>
    
        <p>Description: <input type="text" name="description" /> </p>
        
        {% if ps_section %}
            <p>Section: <input type="text" disabled="disabled" 
                value={{ps_section.name}}  /> </p>
            <input type="hidden" name='bodysection_id' value={{ps_section.id}}>
        {% else %}

            <p>Section :<select name='bodysection_id'></p> </br>   
                {% for s in sections %}
                    <option value={{s.id}}> {{s.name}}</option>
                {% endfor %}
        
                </select>
        {% endif %}
        <p>Photo: <input class="button" type="file" name="picture" /> </br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type='submit' class="button" value='Save'> 
        </p> 
        
    
    </form>
</div>
</body>

</html> 