<!--from flask import Flask, render_template, url_for-->

<html>
<head>


</head>

<body>

    <h1>New Product</h1>

    <h2>Enter information to register a new body section</h2>

    <form method="POST"  enctype="multipart/form-data" 
        action= {{url_for('newProduct')}} > 
        
        <p>Name: <input type="text" name="name" /> </p>

        <p>Description: <input type="text" name="description" /> <p/>

        <p>Photo: <input type="file" name="picture" /> <p/> 
        
        <p>Section : <input type="text" name="bodysection_id" /> <p/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type='submit' value='Save'> 
    
    </form>

</body>

</html> 