<!--from flask import Flask, render_template, url_for-->

<html>
<head>


</head>

<body>

<h1>Products</h1>

<a href={{(url_for('newProduct'))}}>Add new Product</a>

{% for p in products %}

<div>
<p><strong>{{p.name}}</strong></p>

<p>Description: {{p.description}}</p>
s,kufbairfguvjaefv: {{p.picture_name}}
<img src="{{ url_for('static', filename=p.picture_name) }}" width="130" height="100"></img>

<form method='POST' enctype='multipart/form-data' 
    action="{{url_for('viewProducts')}}">
     
<input type='submit' value='Delete'>
<input type= 'hidden' name="csrf_token" value="{{ csrf_token() }}"/>
<input type='hidden' name='id' value={{p.id}}>


</form>
</br>

</div>
{% endfor %}

</body>

</html> 