<!--from flask import Flask, render_template, url_for-->

<html>
<html lang="en">

<head>

<link rel="stylesheet" type="text/css" 
    href="{{url_for('static', filename='style.css')}}">

<link rel = "shortcut icon"
    href={{url_for('static', filename="images/caja.jpg")}}>

<link rel="stylesheet" 
    href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

</head>

<body>


<div class="header">
    <h1>   My makeup site  Products for {{bodysection.name}} 
    {%if image %}
        <a style="color:white; font-size:0.5em; float:right; margin-right:15px; 
            background: #ff66b3;" href={{(url_for('gdisconnect'))}}> 
        Disconnect</a>
        
       <img src={{image}} style = "float: right; width: 30px; height: 30px;border-radius: 15px; 
       -webkit-border-radius: 15px;-moz-border-radius: 15px;"> 
   {%else%}
        <a style="color:white; font-size:0.5em; float:right; margin-right:15px; 
            background: #ff66b3;" href={{(url_for('showLogin'))}}>
        Connect</a> 
    
   {%endif%}
   </h1>
</div>

<div class="content">
    <h2>{{bodysection.description}}</h2>

    <h2>Special products for {{bodysection.name}} </h2>
    <p>
        {%for p in products %}
            <div data-role="main" class="ui-content">
                <div class="ui-grid-a">
                  <div class="ui-block-a">

                    <span><p><a href={{(url_for('product', product_id=p.id))}}>
                            <strong>{{p.name}}: </strong> </a> {{p.description}} </span>
                  </div>

                  <div class="ui-block-b">
                    <span><img src="{{ url_for('static', filename=p.picture_name) }}" 
                            width="130" height="100"></img></span>
                  </div>
                </div>
            </div>
        {%endfor%}
    </p>

    <a href={{(url_for('newProduct', section_id=bodysection.id))}}>Add a product</a>
    <a href={{(url_for('editBodySection', body_section_id=bodysection.id))}}>Edit</a>
    <a href={{(url_for('deleteBodySection', body_section_id=bodysection.id))}}>Delete</a>

</div>


</body>


    