
.content, .product_content, .delete_content {
    width:960px;
    background: #ffe6f2;
    border: 1px solid white;
    height: 1000px;
    margin: 30px auto;
    text-align: center; 
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    
}

.product_content { height: 300px;  }

.delete_content { height: 350px; }

.section_content { height: 100px; }

.header {
    height:60px;
    background: #ff66b3;
    border:1px solid white;
    width:960px;
    margin:40px auto;
    text-align:left; 
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

img {
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    border:dashed 5px #ff66b3;
}

body { 
    font-family: sans-serif; 
    background-image: url('images/kissm.jpg');
}

h1 { 
    color:white; 
    font-size: 2em;
}

h2 { 
    font-family: 'Verdana', 
    margin: 0;
    font-size: 1.2em; 
    text-align:center; 
}

.button {
    background-color: #ffccff; 
    border: none;
    color: hotpink;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: auto;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
}

p, dd, dt { color: #b82e8a;}

a:link, a:visited  { 
    color: hotpink; 
    font-size: 1em;
    padding: 5px 5px;
    text-align: center; 
    display: inline-block;
    background: #ffccff;
    text-decoration: none;
}
        
.name {width:100%;display: inline-block; float: left;}
.description {}
.editdeletepane{}

.flash          { background: #cee5F5; }

.disconnect { 
    color: white
    text-align: left; 
    font-size: 0.5em;
}